.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.header{
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.main{
    display: flex;
}

.left{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}

.E{
    display: flex;
}
.a{
    width: 150px;
    height: 50px;
    background-color: #dbd400;
}

.b{
    width: 150px;
    height: 100px;
    background-color: #0093b7;

}


.c{
    width: 100px;
    height: 150px;
    background-color:  #ff7e6b;
    float: left;
    
}
.d{
    width: 250px;
    height: 100px;
    background-color: #8c2727;

}



.footer{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}


@media screen and (max-width: 767px) {
    .header{
        width: 300px;
       
    }
    .left{
        width: 100px;
    }
    .L{
        width: 125px;
    }
    .c{
        width: 75px;
    }
    .d{
        width: 200px;
    }
    .footer{
        width: 300px;
    }

}

@media screen and (max-width: 479px) {
    #wrapper {
        width: 150px;
    }
}    